/* =========================================
   ESTRUTURA DAS TELAS
========================================= */

.app {
    display: grid;

    grid-template-areas:
        "header header header"
        "left main right";

    grid-template-columns:
        1fr
        2fr
        1fr;

    grid-template-rows:
        80px
        1fr;

    gap: 18px;

    width: calc(100% - 50px);

    min-height: 650px;

    margin: 25px auto;

    padding: 20px;
}


/* HEADER */

.header_container {
    grid-area: header;

    min-height: 70px;

    border: 3px solid #ffffff;
}


/* ESQUERDA */

.left_container {
    grid-area: left;

    min-height: 500px;

    border: 3px solid #ffffff;
}


/* CENTRO */

.main_container {
    grid-area: main;

    min-height: 500px;

    border: 3px solid #ffffff;

    padding: 20px;
}


/* DIREITA */

.right_container {
    grid-area: right;

    min-height: 500px;

    border: 3px solid #ffffff;
}


/* RESPONSIVIDADE */

@media (max-width: 700px) {

    .app {

        grid-template-areas:
            "header"
            "left"
            "main"
            "right";

        grid-template-columns: 1fr;

        grid-template-rows:
            70px
            250px
            350px
            250px;

        width: calc(100% - 20px);

        padding: 10px;
    }

    .left_container,
    .main_container,
    .right_container {
        min-height: 250px;
    }
}